  * {
    font-family: "Courier", monospace;
    padding: 0;
    margin: 0;
  } 

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    font-size: 60px;
  }

  .gancho-imagem {
    width: 300px;
    height: center;
    position: absolute;
  }

  .container {
    height: 350px;
    margin: 100px auto;
    position: relative;
  }

  .conteudo {
    display: inline-block;
    margin: 0 auto;
  }

  #palavra {
    text-align: center;
    font-size: 25px;
  }

  .container-palpite {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
  }

  #palpite {
    font-size: 25px;
    text-align: center;
    width: 30px;
    border: none;
    border: solid 2px rgb(255, 0, 0);
    outline: none;
    text-transform: capitalize;
  }

  #erros {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
  color: rgb(255, 0, 0);
  border: solid black;
}

.instrucao {
  font-size: 18px;
  margin-top: 7px;
  text-align: center;
}

/* Elaborando o boneco do jogo da forca */

.homem {
  width: 100px;
  height: 175px;
  position: absolute;
  top: 155px;
  left: 240px;
}

.homem-1 {
  width: 40px;
  height: 40px;
  border: solid 10px black;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 19px;
  display: none;
}

.homem-2 {
  background: black;
  width: 10px;
  height: 70px;
  position: absolute;
  top: 57px;
  left: 45px;
  display: none;
}

.homem-3 {
  background: black;
  width: 10px;
  height: 60px;
  position: absolute;
  top: 30px;
  left: 21px;
  transform: rotate(-50deg);
  display: none;
}

.homem-4 {
  background: black;
  width: 10px;
  height: 60px;
  position: absolute;
  top: 30px;
  right: 21px;
  transform: rotate(50deg);
  display: none;
}

.homem-5 {
  background: black;
  width: 10px;
  height: 60px;
  position: absolute;
  bottom: -2px;
  left: 25px;
  transform: rotate(40deg);
  display: none;
}

.homem-6 {
  background: black;
  width: 10px;
  height: 60px;
  position: absolute;
  bottom: -2px;
  right: 25px;
  transform: rotate(-40deg);
  display: none;
}