  * {
    font-family: "Courier", monospace;
  } 

   body {
    display: flex;
    align-items: center;
    flex-direction: column;
  } 

  h1 {
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
  }

  .gancho-imagem {
    width: 300px;
    height: center;
    position: absolute;
    margin-top: 200px;
  }

  .container {
    padding: 80px;
  }

  .conteudo {
    display: inline-block;
    margin: 0 auto;
  }

  #palavra {
    text-align: center;
    font-size: 25px;
    margin-top: 300px;
  }

  .container-palpite {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
  }

  #palpite {
    font-size: 25px;
    text-align: center;
    width: 30px;
    border: none;
    border: solid 2px rgb(255, 0, 0);
    outline: none;
    text-transform: capitalize;
  }

  #erros {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
  color: rgb(255, 0, 0);
  border: solid black 1px;
}

.instrucao {
  font-size: 18px;
  margin-top: 7px;
  text-align: center;
}

/* Elaborando o boneco do jogo */

.homem {
  width: 100px;
  height: 375px;
  position: absolute;
  top: 29.70vh;
  left: calc(50.5% - 0vw)
}

.homem-1 {
  width: 40px;
  height: 40px;
  border: solid 10px black;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 19px;
  display: none;
}

.homem-2 {
  background: black;
  width: 10px;
  height: 70px;
  position: absolute;
  top: 57px;
  left: 44px;
  display: none;
}

.homem-3 {
  background: black;
  width: 10px;
  height: 60px;
  position: absolute;
  top: 32px;
  left: 21px;
  transform: rotate(-50deg);
  display: none;
}

.homem-4 {
  background: black;
  width: 10px;
  height: 60px;
  position: absolute;
  top: 30px;
  right: 21px;
  transform: rotate(50deg);
  display: none;
}

.homem-5 {
  background: black;
  width: 10px;
  height: 60px;
  position: absolute;
  bottom: 200px;
  left: 25px;
  transform: rotate(40deg);
  display: none;
}

.homem-6 {
  background: black;
  width: 10px;
  height: 60px;
  position: absolute;
  bottom: 200px;
  right: 25px;
  transform: rotate(-40deg);
  display: none;
}

/* Estilizando os botões */

.botoes {
  margin-top: 20px;
  text-align: center;
}

.botoes button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: linear-gradient(145deg, #ff6f61, #d34747);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s, transform 0.3s;
}

.botoes button:hover {
  background: linear-gradient(145deg, #d34747, #ff6f61);
  transform: scale(1.05);
}

.botoes button:active {
  background: linear-gradient(145deg, #ff6f61, #d34747);
  transform: scale(0.95);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal textarea {
  font-size: 20px;
  padding: 10px;
  width: calc(100% - 22px);
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.modal button {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: linear-gradient(145deg, #ff6f61, #d34747);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s, transform 0.3s;
}

.modal button:hover {
  background: linear-gradient(145deg, #d34747, #ff6f61);
  transform: scale(1.05);
}

.modal button:active {
  background: linear-gradient(145deg, #ff6f61, #d34747);
  transform: scale(0.95);
}